DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
WOMPI_PUBLIC_KEY=
WOMPI_INTEGRITY_SECRET=
NEXT_PUBLIC_SERVICES_PAYMENT_MODE=test
NEXT_PUBLIC_CALENDLY_URL=
CALENDLY_WEBHOOK_SECRET=
NEXT_PUBLIC_BANCOLOMBIA_BANK_NAME=Bancolombia
NEXT_PUBLIC_BANCOLOMBIA_ACCOUNT_TYPE=Cuenta de ahorros
NEXT_PUBLIC_BANCOLOMBIA_ACCOUNT_NUMBER=
NEXT_PUBLIC_BANCOLOMBIA_ACCOUNT_HOLDER=
NEXT_PUBLIC_BANCOLOMBIA_QR_URL=
